@import url('https://fonts.googleapis.com/css2?family=Playwrite+US+Modern:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: "poppins", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif  ;
    /* background-color: #010109;
    color: #ececec; */
}

* {
    box-sizing: border-box;
    padding: 0;
}

/* Search bar */

label[for="search"] {
    border: 1px solid blue;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20rem;
}

label input,
label button {
    border: none;
    height: 100%;
}

label input {
    border: 1px solid red;
    width: 100%;
    padding: 1rem;
}

label button {
    border: 1px solid red;
    width: 2rem;
}


/* Content head */

.container-head {
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 80%;
}

.div-left {
    border: 2px solid blue;
    width: 50%;
    height: 8rem;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}
.weather-icon, .weather-temp {
    border: 1px solid rgb(255, 0, 162);
    height: 100%;
    width: 6rem;
}


.weather-info {
    border: 1px solid rgb(255, 0, 162);
    height: 100%;
    width: 8rem;
}

.div-right {
    border: 2px solid green;
    width: 50%;
    height: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    padding: 1rem;
}

.weather-title, .weather-date, .weather-description {
    border: 1px solid rgb(119, 0, 231);
    height: 100%;
}

/* Content body */

.container-body {
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    gap: 1rem;
    padding: 1rem;

}

.container-body .weather-card {
    border: 1px solid rgb(119, 0, 231);
    height: 10rem;
    width: 100%
}