@import url('https://fonts.googleapis.com/css2?family=Playwrite+US+Modern:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: "poppins", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

}

* {
    box-sizing: border-box; 
}

.header-div {
    /* border: 1px solid red; */
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
menu div {
    /* border: 1px solid red; */
    text-align: center;
   
}

.header-div ul {
    background-color: rgb(6, 6, 6);
    color: #ffffff;
    border-radius: 6px;
    width: 6rem;
    margin: 0;
    text-align: center;
    z-index: 3;
}

.carousel-session {
    margin: 6rem 0 0 0 ;
}
.main-frame {
    /* border: 1px solid rgb(0, 255, 208); */
    width: 18rem;
    height: 18rem;
    display: grid;
}

.slides-container {
    /* border: 1px solid blue; */
    grid-column: 1 / 1;
    grid-row: 1 / 1;
    z-index: 0;

    display: flex;
    justify-content: start;
    align-items: center;
    /* overflow: hidden ; */
}

.slides-container img {
    width: 100%;
}


.slides-navigation {
    grid-column: 1 / 1;
    grid-row: 1 / 1;
    z-index: 1;
    width: 100%;
    padding: 0.2rem;
    /* border: 2px solid rgb(0, 255, 51); */
}



.main-frame #nav-left, .main-frame #nav-right {
    width: 2rem; 
}

.nav-arrows {
    /* border: 1px solid blue; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.nav-circle {
    /* border: 1px solid rgb(0, 0, 0); */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    
    width: 8rem;
    height: 2rem;
    gap: 0.4rem;
    border-radius: 6px;
    overflow: hidden;

}
.nav-circle div {
    width: 9.5px;
    height: 9.5px;
    border-radius: 50%;
    background-color: #bebebe;
}

